<a href="https://colab.research.google.com/github/Monika-coder1/Dashboard_project/blob/main/python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
n1=pd.Series([11,22,33,44,55,66,77,88,99],index=[0,1,2,3,4,5,6,7,8])
print(n1)

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [ ]:
len(n1)

9

In [ ]:
df={1011:'Mohan',1012:'shyam',1013:'"Madhav',1015:'Kisan'}
df=pd.Series(df)
df

1011      Mohan
1012      shyam
1013    "Madhav
1015      Kisan
dtype: object

In [ ]:
n1=pd.Series([11,22,33,44,55,66,77,88,99],index=[0,1,2,3,4,5,6,7,8],dtype="float",name="mydata")
n1

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5    66.0
6    77.0
7    88.0
8    99.0
Name: mydata, dtype: float64

In [ ]:
n1=pd.Series([11,22,33,44,55,66,77,88,99],index=range(0,9))
n1

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [ ]:
n1

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [ ]:
n1[1]

np.int64(22)

In [ ]:
n1[0]

np.int64(11)

In [ ]:
n1[:5]

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
n1[1]=58

In [ ]:
n1

0    11
1    58
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [ ]:
df=n1.drop(index=5)
df

0    11
1    58
2    33
3    44
4    55
6    77
7    88
8    99
dtype: int64

In [ ]:
df=n1.drop(index=[2,4,8])
df

0    11
1    58
3    44
5    66
6    77
7    88
dtype: int64

In [ ]:
df[df>30]

1    58
3    44
5    66
6    77
7    88
dtype: int64

In [ ]:
df[df<30]

0    11
dtype: int64

In [ ]:
#dictionay
import pandas as pd
d={'Name':'Hardik','Iplteam':'MI','runs':1500}
df=pd.Series(d,name="mydata")
df

Name       Hardik
Iplteam        MI
runs         1500
Name: mydata, dtype: object

In [ ]:
#head and Tail function in series
import pandas as pd
arr=pd.Series([10,15,18,22,55,77,42,49,97])
arr.head()
arr.head(3)

0    10
1    15
2    18
dtype: int64

In [ ]:
import pandas as pd
arr=pd.Series([10,15,18,22,55,77,42,49,97])
arr.tail()

4    55
5    77
6    42
7    49
8    97
dtype: int64

In [ ]:

#dataFrame
emp_data = pd.DataFrame({'emp_id':[1011,1012,1013,1014],'name':['mohan','shyam','kisan','ram']})
emp_data

   emp_id   name
0    1011  mohan
1    1012  shyam
2    1013  kisan
3    1014    ram

In [ ]:
emp_data['dept'] = ['hr','developer','hr','admin']
emp_data

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer
2    1013  kisan  32000         hr
3    1014    ram  45200      admin

In [ ]:
emp_data['sal']=[22000,25000,32000,45200]
emp_data

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer
2    1013  kisan  32000         hr
3    1014    ram  45200      admin

In [ ]:
emp_data[['emp_id','sal']]
emp_data

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer
2    1013  kisan  32000         hr
3    1014    ram  45200      admin

In [ ]:
emp_data

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer
2    1013  kisan  32000         hr
3    1014    ram  45200      admin

In [ ]:
emp_data.loc[2]

emp_id     1013
name      kisan
sal       32000
dept         hr
Name: 2, dtype: object

In [ ]:
emp_data.loc[[1,3]]

   emp_id   name    sal       dept
1    1012  shyam  25000  developer
3    1014    ram  45200      admin

In [ ]:
emp_data

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer
2    1013  kisan  32000         hr
3    1014    ram  45200      admin

In [ ]:
#change some data
emp_data.loc[4]=[1015,'gopal',62000,'IT']
emp_data

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer
2    1013  kisan  32000         hr
3    1014    ram  45200      admin
4    1015  gopal  62000         IT

In [ ]:
emp_data[emp_data['sal']>30000]

   emp_id   name    sal   dept
2    1013  kisan  32000     hr
3    1014    ram  45200  admin
4    1015  gopal  62000     IT

In [ ]:
emp_data[emp_data['sal']<30000]

   emp_id   name    sal       dept
0    1011  mohan  22000         hr
1    1012  shyam  25000  developer

In [ ]:
#sal >30k
#dept== hr
emp_data.query("dept=='hr'" or sal >30000)

   emp_id   name    sal dept
0    1011  mohan  22000   hr
2    1013  kisan  32000   hr

In [ ]:
import pandas as pd
df=pd.read_csv("/content/kc_house_data.csv")

In [ ]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
#head()
#tail()
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1230000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [ ]:
df.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1010000.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
#df.shape=(no. of rows , no. of columns)
df.shape

(21613, 21)

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
# df.iloc[start_row : End_rowno : Step , Start_columnno : End_columnno : step ]
df.iloc[200:251:10,0:6:2]

             id     price  bathrooms
200  3542300060  210000.0       1.00
210  2310030510  320000.0       2.25
220  5611500140  686000.0       2.50
230  8096000060  655000.0       1.75
240  3584000310  225000.0       1.75
250  3832710960  260000.0       2.00

In [ ]:
df.iloc[50:,5:]

,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
50,1190,9199,1.0,0,0,3,7,1190,0,1955,0,98148,47.4258,-122.322,1190,9364
51,3150,9134,1.0,0,0,4,8,1640,1510,1966,0,98056,47.4934,-122.189,1990,9133
52,1410,4080,1.0,0,0,4,7,1000,410,1950,0,98117,47.6808,-122.384,1410,4080
53,1980,8550,1.0,0,0,3,7,990,990,1981,0,98117,47.6989,-122.369,1480,6738
54,2730,6000,1.5,0,0,3,8,2130,600,1927,0,98105,47.6571,-122.281,2730,6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df.iloc[200:149:-1,::-1]

,sqft_lot15,sqft_living15,long,lat,zipcode,yr_renovated,yr_built,sqft_basement,sqft_above,grade,...,view,waterfront,floors,sqft_lot,sqft_living,bathrooms,bedrooms,price,date,id
200,9514,1300,-122.184,47.5093,98056,0,1943,0,860,6,...,0,0,1.0,11725,860,1.00,3,210000.0,20150311T000000,3542300060
199,50965,1560,-121.994,47.4058,98038,0,1969,0,1350,7,...,0,0,1.0,155073,1350,1.75,3,385000.0,20141014T000000,1222069094
198,67268,2330,-121.911,47.5385,98024,0,1997,0,1910,7,...,0,0,2.0,66211,1910,2.50,3,440000.0,20150113T000000,2824079053
197,2385,1750,-122.372,47.5488,98126,0,2007,0,2150,8,...,0,0,2.0,4084,2150,2.50,3,465000.0,20140723T000000,3278600320
196,6480,1500,-122.312,47.5511,98108,0,1920,840,1130,7,...,0,0,1.5,6480,1970,2.00,4,423000.0,20141111T000000,7549802535
195,5001,2550,-122.347,47.2779,98023,0,2003,0,1690,8,...,0,0,2.0,5025,1690,2.50,3,256883.0,20140515T000000,7796450200
194,10228,1570,-122.300,47.7481,98155,0,1948,0,1060,7,...,0,0,1.0,10228,1060,1.00,3,230000.0,20141201T000000,3996900125
193,7818,1900,-122.336,47.7606,98133,0,1962,760,1420,7,...,0,0,1.0,7508,2180,2.50,3,400000.0,20140625T000000,3663500060
192,10083,2680,-122.219,47.5505,98040,0,1959,0,2140,8,...,0,0,1.0,9897,2140,2.50,3,799000.0,20140912T000000,2287000060
191,7980,1230,-122.184,47.4616,98058,0,1959,0,1190,6,...,0,0,1.0,8820,1190,1.00,3,166950.0,20141105T000000,1432600560
190,8400,1540,-122.191,47.7260,98034,0,1977,430,1220,7,...,0,0,1.0,9480,1650,1.75,3,305000.0,20140818T000000,9477200200
189,9340,2230,-122.153,47.6647,98052,0,1975,800,1430,8,...,0,0,1.0,10026,2230,2.25,3,585188.0,20141205T000000,1115810060
188,4400,1330,-122.340,47.6500,98103,0,1901,0,1330,6,...,0,0,1.5,2400,1330,1.00,4,615000.0,20150418T000000,2264500350
187,8744,2030,-122.043,47.6200,98074,0,1987,0,1900,8,...,0,0,2.0,8744,1900,2.50,3,560000.0,20140505T000000,1954440060
186,8910,2190,-122.379,47.3099,98023,0,1969,390,1100,8,...,0,0,1.0,10000,1490,1.75,4,269000.0,20150415T000000,8731951370
185,10270,2540,-122.188,47.6627,98033,0,1986,2000,2090,10,...,2,0,1.0,12850,4090,3.00,5,1100000.0,20141121T000000,825059270
184,9984,2260,-122.102,47.6993,98052,0,1993,990,2140,9,...,0,0,2.0,13412,3130,2.75,4,835000.0,20140905T000000,11510310
183,3417,1050,-122.039,47.3848,98038,0,1996,0,1050,7,...,0,0,2.0,3419,1050,1.50,2,163500.0,20140723T000000,6661200320
182,9600,2290,-122.200,47.7044,98034,0,1961,0,2440,7,...,0,0,2.0,9600,2440,3.00,4,589000.0,20140613T000000,3127200041
181,5375,1410,-122.376,47.5384,98126,0,1925,700,1680,7,...,0,0,1.5,5125,2380,3.00,4,470000.0,20150414T000000,8123100045
180,6183,1670,-122.179,47.3505,98030,0,1988,0,1670,7,...,0,0,2.0,5797,1670,2.50,3,260000.0,20140725T000000,3830630310
179,8280,1540,-122.358,47.7224,98177,0,1949,290,1060,7,...,0,0,1.0,8220,1350,1.00,2,330000.0,20150107T000000,9158100075
178,8941,1950,-121.999,47.1976,98022,0,1975,630,1320,7,...,2,0,1.0,7560,1950,1.50,3,269950.0,20141117T000000,5437810320
177,4800,1200,-122.307,47.6101,98122,0,1901,0,1220,6,...,0,0,1.0,4800,1220,1.00,3,385000.0,20140530T000000,2254502445
176,2150,1280,-122.308,47.5868,98144,0,1986,650,1320,7,...,0,0,1.0,5400,1970,2.75,5,399950.0,20140709T000000,3881900445
175,1795,1590,-122.310,47.6106,98122,0,2008,300,820,8,...,0,0,2.0,1100,1120,2.50,3,425000.0,20150210T000000,7234600798
174,8335,2260,-122.125,47.5619,98006,0,1980,0,2590,8,...,0,0,2.0,8190,2590,2.25,4,673000.0,20140929T000000,1687900520
173,35230,3740,-122.182,47.6477,98033,0,1984,1310,2570,10,...,0,0,2.0,35003,3880,2.50,4,917500.0,20150116T000000,1762600070
172,7940,1480,-122.339,47.7658,98133,0,1955,0,1340,7,...,0,0,1.5,7912,1340,1.50,3,313000.0,20140502T000000,1999700045
171,7350,1930,-122.374,47.3026,98023,0,1978,490,1670,7,...,0,0,1.0,7140,2160,1.75,3,272000.0,20150102T000000,9542800700
170,7920,1070,-122.337,47.4776,98166,0,1954,0,1560,7,...,0,0,1.0,21000,1560,1.75,3,284000.0,20150316T000000,4330600435
169,7288,1770,-122.331,47.7458,98133,0,1964,0,1370,7,...,0,0,1.0,8336,1370,2.00,3,371500.0,20140611T000000,1755700060
168,8750,2480,-122.231,47.7028,98034,0,1979,1070,1610,8,...,0,0,1.0,9750,2680,2.50,3,653000.0,20140605T000000,3261020370
167,4500,2920,-122.125,47.5650,98006,0,1999,0,2680,9,...,0,0,2.0,4499,2680,2.50,4,807100.0,20150324T000000,1836980160
166,9750,1830,-122.327,47.4080,98198,0,1949,640,700,5,...,0,0,1.0,7250,1340,1.75,2,269950.0,20150219T000000,2009000370
165,7500,1640,-122.168,47.7209,98034,0,1976,400,1180,7,...,0,0,1.0,7000,1580,1.75,3,370000.0,20141208T000000,2558660270
164,36590,2110,-122.023,47.4582,98027,0,1975,1010,1010,7,...,0,0,1.0,38332,2020,2.00,3,420000.0,20140812T000000,2617300160
163,8152,1710,-122.224,47.7319,98034,0,1979,750,1160,7,...,0,0,1.0,7280,1910,2.75,3,441000.0,20140620T000000,3574800520
162,12601,3400,-122.023,47.6012,98075,0,2000,0,3400,10,...,0,0,2.0,16603,3400,2.50,3,900000.0,20150304T000000,7215720160
161,9660,1200,-122.193,47.7171,98034,0,1962,0,1780,7,...,0,0,1.0,9660,1780,1.75,3,438000.0,20150309T000000,3756500060
160,11680,1010,-122.335,47.4877,98146,0,1962,1030,1030,7,...,0,0,1.0,8632,2060,2.25,5,255000.0,20140507T000000,84000105
159,11180,1730,-122.118,47.4715,98059,0,1968,0,1760,8,...,0,0,1.0,11180,1760,1.75,4,320000.0,20141003T000000,1081200350
158,7198,1160,-121.996,47.2086,98022,2013,1916,0,1270,7,...,0,0,1.5,7198,1270,2.00,3,247000.0,20141113T000000,8029200135
157,7875,1980,-122.369,47.3135,98023,0,1967,1020,1620,8,...,0,0,1.0,7500,2640,2.75,4,320000.0,20140807T000000,8731900200
156,13675,2640,-122.172,47.5250,98056,0,1996,1460,2500,9,...,0,0,2.0,25245,3960,3.50,5,650000.0,20141120T000000,6388930390
155,7669,1190,-122.176,47.4479,98058,0,1967,0,1180,7,...,0,0,1.0,7669,1180,1.00,3,215000.0,20140728T000000,8960000030
154,5100,1010,-122.300,47.6790,98115,0,1942,0,700,7,...,0,0,1.0,5100,700,1.00,1,350000.0,20140516T000000,7920100045
153,9750,3160,-122.162,47.5620,98006,0,2006,1640,3540,12,...,3,0,2.0,19850,5180,3.25,4,2250000.0,20150401T000000,7855801670
152,8633,1680,-122.304,47.3255,98003,0,1954,0,1250,7,...,0,0,1.0,8200,1250,1.00,3,282950.0,20150331T000000,537000445
151,5000,1420,-122.359,47.6550,98107,0,1947,0,1110,7,...,0,0,1.5,5000,1110,1.00,3,560000.0,20150409T000000,1324300398
150,3090,1500,-122.353,47.6838,98103,0,1990,0,1360,8,...,0,0,2.0,3090,1360,2.00,3,532170.0,20140820T000000,3362900810

In [ ]:
df.iloc[200:189:-1,-4:]

         lat     long  sqft_living15  sqft_lot15
200  47.5093 -122.184           1300        9514
199  47.4058 -121.994           1560       50965
198  47.5385 -121.911           2330       67268
197  47.5488 -122.372           1750        2385
196  47.5511 -122.312           1500        6480
195  47.2779 -122.347           2550        5001
194  47.7481 -122.300           1570       10228
193  47.7606 -122.336           1900        7818
192  47.5505 -122.219           2680       10083
191  47.4616 -122.184           1230        7980
190  47.7260 -122.191           1540        8400

In [ ]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df=df.drop(['id','date'],axis=1)

In [ ]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
#row no-190,134,56,20 ,45
#cloums - price,bedrooms,floors,bathrooms
#loc
df.loc[[190,134,56,20 ,45]][['price','bedrooms','floors','bathrooms']]

        price  bedrooms  floors  bathrooms
190  305000.0         3     1.0       1.75
134  675000.0         4     3.0       3.50
56   292500.0         4     2.0       2.50
20   385000.0         4     1.0       1.75
45   488000.0         3     2.0       2.50

In [ ]:
df.query("bedrooms>=3 and bathrooms>=2 and floors<=2")

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,1230000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21605,610685.0,4,2.50,2520,6023,2.0,0,0,3,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,1010000.0,4,3.50,3510,7200,2.0,0,0,3,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,475000.0,3,2.50,1310,1294,2.0,0,0,3,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21609,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21611,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287

In [ ]:
df.query("bedrooms>=3 and bathrooms>=2 or floors<=2")

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df['price'].max()

7700000.0

In [ ]:
df['price'].min()

75000.0

In [ ]:
new= df.query("bedrooms>3 and bathrooms>=2 or floors<=2")

In [ ]:
new['price'].max()

7700000.0

In [ ]:
#new[new['price'] == new['price'].max()] in pandas
#This filters the row(s) with the highest price in a pandas DataFrame named new.
#new['price'] == new['price'].max()  Creates a boolean mask where only the rows with the highest price are True.
new[new['price']==new['price'].max()]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,7700000.0,6,8.0,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [ ]:
df['bedrooms'].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33])

In [ ]:
#groupby
df.groupby(['bathrooms','bedrooms'])['price'].max()

bathrooms  bedrooms
0.00       0           1300000.0
           1            484000.0
0.50       1            255000.0
           2            273000.0
           4            312500.0
                         ...
6.75       7            800000.0
7.50       9            450000.0
7.75       6           6890000.0
8.00       6           7700000.0
           7           2280000.0
Name: price, Length: 144, dtype: float64

In [7]:
import pandas as pd
df1 = pd.read_csv("/content/titaanic12.csv")

In [8]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df1.shape

(418, 12)

In [ ]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
dummy = df1.drop('PassengerId',axis=1)

In [10]:
dummy.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
dummy.duplicated().sum()

np.int64(0)

In [13]:
#df.drop_duplicate(inplace=true)
#Null values
dummy.isnull().any()

Survived    False
Pclass      False
Name        False
Sex         False
Age          True
SibSp       False
Parch       False
Ticket      False
Fare         True
Cabin        True
Embarked    False
dtype: bool

In [14]:
dummy.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [15]:
round(dummy['Age'].mean(),2)

np.float64(30.27)

In [16]:
dummy.fillna({'Age':30.27},inplace=True)

In [17]:
dummy.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [18]:
dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Name      418 non-null    object
 3   Sex       418 non-null    object
 4   Age       418 non-null    float64
 5   SibSp     418 non-null    int64
 6   Parch     418 non-null    int64
 7   Ticket    418 non-null    object
 8   Fare      417 non-null    float64
 9   Cabin     91 non-null     object
 10  Embarked  418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [19]:
dummy['Cabin'].value_counts()

Cabin
B57 B59 B63 B66    3
B45                2
C23 C25 C27        2
C78                2
C31                2
                  ..
B41                1
C7                 1
D40                1
D38                1
C105               1
Name: count, Length: 76, dtype: int64

In [20]:
dummy=dummy.drop('Cabin',axis=1)

In [21]:
dummy

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,Q
3,0,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,30.27,0,0,A.5. 3236,8.0500,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.9000,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.50,0,0,SOTON/O.Q. 3101262,7.2500,S
416,0,3,"Ware, Mr. Frederick",male,30.27,0,0,359309,8.0500,S
417,0,3,"Peter, Master. Michael J",male,30.27,1,1,2668,22.3583,C

In [30]:
#dummy.dropna(inplace=True)

In [31]:
dummy

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,Q
3,0,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...
413,0,3,"Spector, Mr. Woolf",male,30.27,0,0,A.5. 3236,8.0500,S
414,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.9000,C
415,0,3,"Saether, Mr. Simon Sivertsen",male,38.50,0,0,SOTON/O.Q. 3101262,7.2500,S
416,0,3,"Ware, Mr. Frederick",male,30.27,0,0,359309,8.0500,S
417,0,3,"Peter, Master. Michael J",male,30.27,1,1,2668,22.3583,C

In [32]:
dummy.groupby('Sex')['Age'].mean()

Sex
female    30.271974
male      30.158038
Name: Age, dtype: float64

In [33]:
dummy.groupby('Sex')['Age'].min()

Sex
female    0.17
male      0.33
Name: Age, dtype: float64

In [35]:
dummy.groupby(['Sex','Embarked'])['Age'].count()

Sex     Embarked
female  C            40
        Q            24
        S            88
male    C            62
        Q            22
        S           181
Name: Age, dtype: int64

In [38]:
#pivot table
dummy.pivot_table(index='Embarked',columns='Sex',values='Age',aggfunc=['mean','count','max','min'])

               mean             count         max          min
Sex          female       male female male female  male female   male
Embarked
C         35.545250  32.775645     40   62   64.0  64.0   1.00   6.00
Q         28.447500  31.306364     24   22   37.0  62.0  17.00  10.00
S         28.372614  29.121823     88  181   76.0  67.0   0.17   0.33

In [40]:
dummy.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [41]:
dummy.pivot_table(index=['Pclass','Sex'],values='Fare',aggfunc=['count','sum'])

              count        sum
               Fare       Fare
Pclass Sex
1      female    50  5779.5584
       male      57  4308.4334
2      female    30   793.1625
       male      63  1271.6332
3      female    72   988.9293
       male     145  1714.8208